@model FlowerShop_Web.Models.Flower_Models.ProductWarehouse

@{
    ViewData["Title"] = "Delete";
    Layout ="~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Delete</h1>

@*<h3>Are you sure you want to delete this?</h3>*@
<div>
    <h4>ProductWarehouse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Shop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_Shop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_Product)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InStock_Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InStock_Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sold_Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sold_Quantity)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <button> <a asp-action="Index"> <i class="fa-solid fa-arrow-rotate-left"></i> <span class="ps-4">Back</span> </a> </button>
    </form>
</div>
