@model Flower_Models.ProductWarehouse

@{
    ViewData["Title"] = "Details";
    Layout ="~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ProductWarehouse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Shop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_Shop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_Product)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InStock_Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InStock_Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sold_Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sold_Quantity)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <button> <a asp-action="Index"> <i class="fa-solid fa-arrow-rotate-left"></i> <span class="ps-4">Back</span> </a> </button>
</div>
