@model IEnumerable<FlowerShop_Web.Models.Flower_Models.StockReceivedDocketDetails>

@{
    ViewData["Title"] = "detailSRD";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_StockReceivedDocket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockReceived_Quantity)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_StockReceivedDocket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockReceived_Quantity)
            </td>
           
        </tr>
}
    </tbody>
</table>
