@model IEnumerable<Flower_Models.Voucher>

@{
    ViewData["Title"] = "Index";
    Layout ="~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Voucher</h1>

<div class="tbl-container">
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID_Voucher)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Voucher_Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MinimumAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
         
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_Voucher)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Voucher_Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MinimumAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
                    <td>
                        <a href="@Url.Action("Edit", "Voucher", new { id = item.ID_Voucher })">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>

                        <a href="@Url.Action("Details", "Voucher", new { id = item.ID_Voucher })">
                            <i class="fa-solid fa-circle-info"></i>
                        </a>

                        <a href="@Url.Action("Delete", "Voucher", new { id = item.ID_Voucher })">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
