@model FlowerShop_Web.Models.Flower_Models.Product

@{
    ViewData["Title"] = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@inject ApplicationDbContext _context;
@using FloweShop_Web.Models.Flower_Repository;
@using FlowerShop_Web.Models.Flower_ViewModels;
@using Microsoft.AspNetCore.Identity;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Product's Details</title>
    <meta name="description" content="Free open source Tailwind CSS Store template" />
    <meta name="keywords" content="tailwind,tailwindcss,tailwind css,css,starter template,free template,store template, shop layout, minimal, monochrome, minimalistic, theme, nordic" />

    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/6e08fcf7ad.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        .work-sans {
            font-family: 'Work Sans', sans-serif;
        }

        #menu-toggle:checked + #menu {
            display: block;
        }

        .group-hover\:grow {
            transition: all 0.3s;
            transform: scale(1);
        }

            .group-hover\:grow:group-hover {
                transform: scale(1.02);
            }

        .group:group-hover .group-group-hover\:block {
            display: block !important;
        }

        .star {
            cursor: pointer;
            font-size: 24px;
        }
    </style>
</head>

<body class="work-sans bg-white text-base leading-normal tracking-normal text-gray-600">
    <!--Nav-->

    <hr class="opacity-50 mb-8 md:mb-0">
    <!--
      sm	640px
      md	768px
      lg	1024px
      xl	1280px
      2xl	1536px -->
    <!-- detail -->
    <div class="mx-20 grid grid-cols-1 lg:grid-cols-3 lg:gap-x-12">
        <div class="min-w-full md:mt-8">
            <img src="\@Model.Img_Product " alt="" class="h-auto w-auto object-cover rounded-sm" />
        </div>
        <div class="col-span-2 w-full ms-0 mt-4 lg:ms-12">
            <div class="mb-4 pt-6 grid grid-cols-1 gap-y-4 md:gap-y-0 md:grid-cols-2">
                <h1 class="text-5xl">@Model.Name_Product</h1>
                <div class="md:justify-self-end">
                    <button title="review" class="group">
                        <i class="fa-solid fa-star text-yellow-400"></i>
                        <i class="fa-solid fa-star text-yellow-400"></i>
                        <i class="fa-solid fa-star text-yellow-400"></i>
                        <i class="fa-solid fa-star text-yellow-400"></i>
                        <i class="fa-solid fa-star text-yellow-400"></i>
                    </button>
                    | 2 reviews
                </div>
            </div>
            <a href="" class="text-2xl font-thin text-gray-600">Roses and Freesias</a>
            <h3 class="text-xl font-normal text-black mt-2">
                Grab your welcome 15% discount gift, use the code
                <span class="text-orange-600 font-bold">FIRSTBLOOM</span>
                at the checkout and let the fun begin
            </h3>
            <div class="mx-4 my-6 grid grid-cols-2 md:grid-cols-3 gap-4 sm:mx-0 sm:gap-2">
                <div class="group">
                    <div class="h-32 w-full rounded-lg border border-gray-400 group-checked:border-black group-hover:border-orange-600">
                        <div class="grid grid-cols-2 px-4 py-4 lg:px-6">
                            <div>
                                <img src="https://www.floraqueen.com/_ipx/q_80/images/icons/icon-flower-option-1.svg" alt="" />
                            </div>
                            <div class="justify-self-end text-end">
                                <h4 class="text-center text-xl font-medium">Classic</h4>
                                <h5 class="pt-3 text-lg text-gray-600 line-through">£12.00</h5>
                                <h5 class="text-lg font-bold text-orange-600">£9.99</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group">
                    <div class="h-32 w-full rounded-lg border border-gray-400 group-checked:border-black group-hover:border-orange-600">
                        <div class="grid grid-cols-2 px-4 py-4 lg:px-6">
                            <div>
                                <img src="https://www.floraqueen.com/_ipx/q_80/images/icons/icon-flower-option-1.svg" alt="" />
                            </div>
                            <div class="justify-self-end text-end">
                                <h4 class="text-center text-xl font-medium">Premium</h4>
                                <h5 class="pt-3 text-lg text-gray-600 line-through">£15.00</h5>
                                <h5 class="text-lg font-bold text-orange-600">£13.39</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="group">
                    <div class="h-32 w-full rounded-lg border border-gray-400 group-checked:border-black group-hover:border-orange-600">
                        <div class="grid grid-cols-2 px-4 py-4 lg:px-6">
                            <div>
                                <img src="https://www.floraqueen.com/_ipx/q_80/images/icons/icon-flower-option-1.svg" alt="" />
                            </div>
                            <div class="justify-self-end text-end">
                                <h4 class="text-center text-xl font-medium">Deluxe</h4>
                                <h5 class="pt-3 text-lg text-gray-600 line-through">£17.00</h5>
                                <h5 class="text-lg font-bold text-orange-600">£15.59</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="text-xl font-normal text-gray-800"><span class="font-bold text-orange-600">Classic:</span> The classic size of a Bouquet, with the perfect balance of flowers.</h3>

           
            <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model.ID_Product">
                <button class="w-full h-14 mt-2 mb-6 px-4 border border-gray-400 bg-black text-white rounded-lg text-xl font-bold hover:-translate-y-1">Add To Cart</button>
            </a>
        </div>
    </div>

    <div class="mx-20 space-y-4">
        <hr>
        <!-- ingredients -->
        <div class="mt-12">
            <div class="w-full p-4 flex gap-4">
                <h2 class="text-xl font-bold uppercase tracking-wide text-gray-900">Includes:</h2>
                @{
                    var item = _context.Recipes.Where(x => x.ID_Product == Model.ID_Product).ToList();
                }
                @foreach (var a in item)
                {
                    <div>
                        @{
                            var material = _context.Materials.Where(x => x.ID_Material == a.ID_Material).FirstOrDefault();
                        }
                        <img src="\@material.Img_Material" alt="" class="w-28 h-28 object-cover rounded-full ring-1 ring-black">
                    </div>
                }
            </div>
        </div>
        <hr>
        

        <!-- description -->
        <section class="w-full p-4">
            <div class="container mx-auto">
                <h2 class="mb-2 text-xl font-bold uppercase tracking-wide text-gray-900">About</h2>
                <p class="mb-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vel risus commodo viverra maecenas accumsan lacus vel facilisis volutpat. Vitae aliquet nec ullamcorper sit. Nullam eget felis eget nunc lobortis mattis aliquam. In est ante in nibh mauris. Egestas congue quisque egestas diam in. Facilisi nullam vehicula ipsum a arcu. Nec nam aliquam sem et tortor consequat. Eget mi proin sed libero enim sed faucibus turpis in. Hac habitasse platea dictumst quisque. In aliquam sem fringilla ut. Gravida rutrum quisque non tellus orci ac auctor augue mauris. Accumsan lacus vel facilisis volutpat est velit egestas dui id. At tempor commodo ullamcorper a. Volutpat commodo sed egestas egestas fringilla. Vitae congue eu consequat ac.</p>
            </div>
        </section>
        <hr>

        @{
            await Html.RenderPartialAsync("_FeedbackForm", new FlowerShop_Web.Models.Flower_Models.Feedback());
        }
        <!-- reviews -->
        <div class="w-full p-4">
            <h2 class="text-xl font-bold uppercase tracking-wide text-gray-900 mb-4">What are our customers saying</h2>
            @{
                var listFeedback = _context.Feedbacks.Where(x => x.ProductId == Model.ID_Product).ToList();
                foreach(var feedback in listFeedback)
                {
                    <div class="mb-2 text-base">
                        <button title="review" class="group">
                            @{
                                for(int i =0; i< feedback.Rate; i++)
                                {
                                    <i class="fa-solid fa-star text-yellow-400"></i>
                                }
                            }
                        </button>
                        @feedback.CreatedAt
                        <br>
                        @feedback.Content <br>
                        <span class="font-light">
                            by Adina Oprea
                        </span>
                    </div>
                }
            }
            <div class="mb-2 text-base">
                <button title="review" class="group">
                    <i class="fa-solid fa-star text-yellow-400"></i>
                    <i class="fa-solid fa-star text-yellow-400"></i>
                    <i class="fa-solid fa-star text-yellow-400"></i>
                    <i class="fa-solid fa-star text-yellow-400"></i>
                    <i class="fa-solid fa-star text-yellow-400"></i>
                </button>
                | 2023-10-14
                <br>
                Timely and beautiful. Thank you! <br>
                <span class="font-light">
                    by Adina Oprea
                </span>
            </div>
            @* <div class="mb-4 text-base">
                <button title="review" class="group">
                    <i class="fa-solid fa-star text-yellow-400"></i>
                    <i class="fa-solid fa-star text-yellow-400"></i>
                    <i class="fa-solid fa-star text-yellow-400"></i>
                    <i class="fa-solid fa-star text-yellow-400"></i>
                    <i class="fa-solid fa-star text-yellow-400"></i>
                </button>
                | 2023-10-10
                <br>
                Great service fast and on time! <br>
                <span class="font-light">
                    by Ines De Blasi | Da Nang
                </span>
            </div> *@
        </div>
        <hr>

        <!-- recommended products -->
        <!-- recommended products -->
        <div class="w-full p-4">
            <h2 class="text-4xl text-center font-normal my-4">Bouquets you'll also love</h2>
            <div class="container mx-auto flex flex-wrap items-center pb-12 pt-4">
                @{
                    var recommendProducts = ViewBag.recommendProduct as List<FlowerShop_Web.Models.Flower_Models.Product>;
                    foreach (FlowerShop_Web.Models.Flower_Models.Product recommendProduct in recommendProducts)
                    {
                        <div class="flex w-full flex-col p-6 md:w-1/3 xl:w-1/4">
                            <a href="#">
                                <img class="transition-all hover:rounded-lg hover:shadow-lg hover:-translate-y-2" src="\@recommendProduct.Img_Product" alt="" />
                                <div class="px-1">
                                    <div class="flex items-center justify-between pt-3">
                                        <h4 class="text-xl">@recommendProduct.Name_Product</h4>
                                        <div class="flex space-x-2">
                                            <i class="fa-solid fa-basket-shopping hover:text-blue-500"></i>
                                            <i class="fa-regular fa-heart hover:text-red-500"></i>
                                        </div>
                                    </div>
                                    <div class="grid grid-cols-2 text-gray-600">
                                        <span>
                                            5.0
                                            <i class="fa-solid fa-star text-yellow-400"></i>
                                        </span>
                                        <span class="justify-self-end">100 sold</span>
                                    </div>
                                    <div class="grid grid-cols-2 mt-2">
                                        <span class="font-normal">£ @recommendProduct.Price_Product</span>
                                        <span class="justify-self-end text-gray-400 line-through">
                                            £ @{
                                                var subT = (float)(recommendProduct.Price_Product + (float)12.00);

                                            }
                                            @subT
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }


            </div>
        </div>

    </div>
    
   
</body>

</html>


