@model Flower_Models.Material

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Material</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_Material)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_MaterialType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_MaterialType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name_Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name_Material)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImportAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImportAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EXP_Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EXP_Material)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price_Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price_Material)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Img_Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Img_Material)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <button> <a asp-action="Index"> <i class="fa-solid fa-arrow-rotate-left"></i> <span class="ps-4">Back</span> </a> </button>
</div>
