@model IEnumerable<Flower_Models.Material>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Material</h1>

@using (Html.BeginForm("Index", "Material", FormMethod.Get))
{
    <div class="flex space-x-4 items-center mt-4">
        <label class="w-20">Searching</label>
        <input name="filter" class="form-control w-full" />
        <button type="submit" class="">Filter</button>
    </div>
}

<div class="tbl-container">
    <table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_MaterialType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name_Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImportAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EXP_Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price_Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Img_Material)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Material)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_MaterialType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name_Material)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImportAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EXP_Material)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price_Material)
                </td>
                <td>
                    <img src="\@Html.DisplayFor(modelItem => item.Img_Material)" style="width: 100px; height: 100px;" class="object-fit-cover">
                </td>
               @* <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID_Material}) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
                    <td>
                        <a href="@Url.Action("Edit", "Material", new { id = item.ID_Material })">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>

                        <a href="@Url.Action("Details", "Material", new { id = item.ID_Material })">
                            <i class="fa-solid fa-circle-info"></i>
                        </a>

                        <a href="@Url.Action("Delete", "Material", new { id = item.ID_Material })">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </td>
            </tr>
        }
    </tbody>
</table>
</div>
<form method="post" asp-action="ExportToExcel" asp-controller="Material">
    <button type="submit">Export to Excel</button>
</form>




<form method="post" asp-action="ImportExcel" asp-controller="Material" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Import from Excel</button>
</form>

