@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

@* <h1>@ViewData["Title"]</h1> *@

<section class="grid h-[600px] grid-cols-7">
    <div class="relative col-span-4 h-full bg-cover bg-bottom" style="background-image: url('https://images.unsplash.com/photo-1523224042829-4731dd15a3bb?q=80&w=1888&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')"></div>
    <div class="col-span-3 space-y-6 px-12 py-8">
        <div class="space-y-3">
            <div class="text-2xl font-semibold">Create your new account</div>
            <div class="text-sm text-gray-400">Greetings on your return! We kindly request you to enter your details.</div>
        </div>

        @* @{
        if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
        <div>
        <p>
        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
        article
        about setting up this ASP.NET application to support logging in via external services
        </a>.
        </p>
        </div>
        }
        else
        {
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
        <div>
        <p>
        @foreach (var provider in Model.ExternalLogins!)
        {
        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
        }
        </p>
        </div>
        </form>
        }
        } *@

        @* Use another services *@
        <form asp-route="Register" method="post">
            <div class="flex flex-wrap gap-4">
                <a href="#" class="flex gap-2 rounded-full px-4 py-3 text-gray-600 outline outline-1 outline-gray-200 hover:bg-black hover:text-white" style="width: fit-content;">
                    <i class="fa-brands fa-facebook"></i>
                    <div class="whitespace-nowrap">Login with Facebook</div>
                </a>
                <a href="#" class="flex gap-2 rounded-full px-4 py-3 text-gray-600 outline outline-1 outline-gray-200 hover:bg-black hover:text-white" style="width: fit-content;">
                    <i class="fa-brands fa-google"></i>
                    <div class="whitespace-nowrap">Login with Google</div>
                </a>
            </div>

            <div class="grid grid-cols-3 items-center">
                <hr />
                <div class="text-center text-gray-600">Or</div>
                <hr />
            </div>
            <div class="space-y-5">
                <div>
                    <label asp-for="Input.Email" class="font-medium">Email</label></br>
                    <input asp-for="Input.Email" class="my-2 w-full rounded-full px-4 py-3 placeholder-gray-300 outline outline-1 outline-gray-200" placeholder="Enter your email" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div>

                    <label asp-for="Input.Password" class="font-medium">Password</label>
                    <input asp-for="Input.Password" class="my-2 w-full rounded-full px-4 py-3 placeholder-gray-300 outline outline-1 outline-gray-200" placeholder="Enter your password" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>

                    <label asp-for="Input.ConfirmPassword" class="font-medium">Password</label>
                    <input asp-for="Input.ConfirmPassword" class="my-2 w-full rounded-full px-4 py-3 placeholder-gray-300 outline outline-1 outline-gray-200" placeholder="Enter your password" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row-auto my-4">
                <button class="w-full rounded-full bg-pink-700 py-3 text-white hover:bg-pink-600">Register</button>
            </div>
            <div class="row flex justify-center gap-2">
                <div>Have an account?</div>
                <a href="#" class="text-pink-900 hover:text-pink-600 hover:underline">Login</a>
            </div>
        </form>
    </div>
</section>


@* <div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
