@model IEnumerable<Flower_Models.ProductType>

@{
    ViewData["Title"] = "Index";
    Layout ="~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Product Type</h1>

<div class="tbl-container">
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID_ProductType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name_ProductType)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID_ProductType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name_ProductType)
                    </td>
                    @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
                    <td>
                        <a href="@Url.Action("Edit", "ProductType", new { id = item.ID_ProductType })">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>

                        <a href="@Url.Action("Details", "ProductType", new { id = item.ID_ProductType })">
                            <i class="fa-solid fa-circle-info"></i>
                        </a>

                        <a href="@Url.Action("Delete", "ProductType", new { id = item.ID_ProductType })">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
