@model Flower_Models.Shop

@{
    ViewData["Title"] = "Details";
    Layout ="~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Shop</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Shop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_Shop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name_Shop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name_Shop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address_Shop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address_Shop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone_Shop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone_Shop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_Locations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_Locations)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
