@model IEnumerable<Flower_Models.Shop>

@{
    ViewData["Title"] = "Index";
    Layout ="~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_Shop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name_Shop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address_Shop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone_Shop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ID_Locations)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Shop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name_Shop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address_Shop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone_Shop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Locations)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
