@model IEnumerable<Flower_Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout ="~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name_Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name_Category)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID_Category }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID_Category }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID_Category })
                </td>
            </tr>
        }
    </tbody>
</table>
