@model IEnumerable<Flower_Models.Occasion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Occasion</h1>

<div class="tbl-container"><table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_Occasion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name_Occasion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Occasion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name_Occasion)
                </td>
                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
                    <td>
                        <a href="@Url.Action("Edit", "Occasion", new { id = item.ID_Occasion })">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>

                        <a href="@Url.Action("Details", "Occasion", new { id = item.ID_Occasion })">
                            <i class="fa-solid fa-circle-info"></i>
                        </a>

                        <a href="@Url.Action("Delete", "Occasion", new { id = item.ID_Occasion })">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </td>
            </tr>
    }
    </tbody>
</table></div>
<form method="post" asp-action="ExportToExcel" asp-controller="Occasion">
    <button type="submit">Export to Excel</button>
</form>




<form method="post" asp-action="ImportExcel" asp-controller="Occasion" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Import from Excel</button>
</form>

