@model IEnumerable<FlowerShop_Web.Models.Flower_Models.Cart>

@{
    ViewData["Title"] = "Index";
    Layout ="~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Cart</h1>

<button>
    
</button>
    <div class="tbl-container"><table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID_Cart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ID_Customer)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID_Cart)
                        </td>
                        <td>
                                @Html.DisplayFor(modelItem => item.ID_Customer)
                        </td>
                       @* <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>*@
                        <td>
                            <a href="@Url.Action("Edit", "Cart", new { id = item.ID_Cart })">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>

                            <a href="@Url.Action("Details", "Cart", new { id = item.ID_Cart })">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>

                            <a href="@Url.Action("Delete", "Cart", new { id = item.ID_Cart })">
                                <i class="fa-solid fa-trash-can"></i>
                            </a>
                        </td>
                    </tr>
            }
        </tbody>
    </table>
</div>
