@using Flower_Models;
@model Flower_Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ID_Product" class="control-label"></label>
                    <input asp-for="ID_Product" class="form-control" readonly />
                    <span asp-validation-for="ID_Product" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="ID_Occasion" class="control-label"></label>
                    <select asp-for="ID_Occasion" class="form-control" asp-items="@ViewBag.Occasions">
                        <option>Select Occasion</option>
                    </select>
                    <span asp-validation-for="ID_Occasion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name_Product" class="control-label"></label>
                    <input asp-for="Name_Product" class="form-control" />
                    <span asp-validation-for="Name_Product" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price_Product" class="control-label"></label>
                    <input asp-for="Price_Product" class="form-control" />
                    <span asp-validation-for="Price_Product" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Img_Product">Hình ảnh sản phẩm</label>
                    <input asp-for="Img_Product" type="file" class="form-control" />
                    @*  <span asp-validation-for="Img_Product" class="text-danger"></span> *@
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="isAvailabled" /> @Html.DisplayNameFor(model => model.isAvailabled)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="isDiscontinued" /> @Html.DisplayNameFor(model => model.isDiscontinued)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedAt" class="control-label"></label>
                    <input asp-for="CreatedAt" class="form-control" />
                    <span asp-validation-for="CreatedAt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rating" class="control-label"></label>
                    <input asp-for="Rating" class="form-control" />
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ViewCount" class="control-label"></label>
                    <input asp-for="ViewCount" class="form-control" />
                    <span asp-validation-for="ViewCount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ID_FlashSale" class="control-label"></label>
                    <select asp-for="ID_FlashSale" class="form-control" asp-items="@ViewBag.FlashSales">
                        <option value="">Select FlashSale</option>
                    </select>
                    <span asp-validation-for="ID_FlashSale" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ID_ProductType" class="control-label"></label>
                    <select asp-for="ID_ProductType" class="form-control" asp-items="@ViewBag.ProductTypes">
                        <option>Select Product Type</option>
                    </select>
                    <span asp-validation-for="ID_ProductType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="size" class="control-label"></label>
                    <select asp-for="size" class="form-control" asp-items="@Html.GetEnumSelectList<size>()">
                        <option>Select Size</option>
                    </select>
                    <span asp-validation-for="size" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
