@model IEnumerable<Flower_Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="fs-1 fw-bold p-2">Index</h1>

<table class="table text-center">
    <thead>
        <tr>
            <th>
               ID Product
            </th>
            <th>
                Occasion Name
            </th>
            <th>
                Product Name
            </th>
            <th>
                Price
            </th>
            <th>
                Image
            </th>
            <th>
                Is Availabled
            </th>
            <th>
                Is Discontinued
            </th>
            <th>
                Created At
            </th>
            <th>
                Rating
            </th>
            <th>
                View Count
            </th>
            <th>
                FlashSale
            </th>
            <th>
                Product Type
            </th>
            <th>
                Size
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Product)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Occasion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name_Product)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price_Product)
                </td>
                <td>
                    <img src="\@Html.DisplayFor(modelItem => item.Img_Product)">

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isAvailabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isDiscontinued)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ViewCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_FlashSale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_ProductType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.size)
                </td>
                <td>
                    <a asp-action="CreateNext" asp-controller="Recipe" asp-route-id="@item.ID_Product">
                        @*<button class="btn btn-danger my-1 w-100">Recipe</button>*@
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a asp-action="Edit" asp-controller="Product" asp-route-id="@item.ID_Product">
                        @*<button class="btn btn-primary my-1 w-100">Edit</button>*@
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a asp-action="Details" asp-controller="Product" asp-route-id="@item.ID_Product">
                        @*<button class="btn btn-dark my-1 w-100">Details</button>    *@
                        <i class="fa-solid fa-circle-info"></i>

                    </a>
                    <a asp-action="Delete" asp-controller="Product" asp-route-id="@item.ID_Product">
                        @*<button class="btn btn-danger my-1 w-100">Delete</button>*@
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<form method="post" asp-action="ExportToExcel" asp-controller="Product">
    <button type="submit">Export to Excel</button>
</form>




<form method="post" asp-action="ImportExcel" asp-controller="Product" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Import from Excel</button>
</form>

